{% extends 'histograma/base_comun.html' %}

{% block contenido %}

<div class="about">
	
	<h1>h.p.a.c.m.</h1>
	<h2>Histogramas de la Política Agrícola Común por Municipios</h2>

	<p>
		El código fuente de esta aplicación web esta disponible en GitHub bajo una licencia
		MIT. Los datos que se analizan provienen de datos abiertos del Gobierno de España,
		concretamente del <em>Fondo Español de Garantía Agraria</em> y del <em>Instituto Nacional de Estadística</em>.
	</p>

	<br>

	<p>
		Datos de la poblacion de los municipios:
		<a href="https://www.ine.es/dynt3/inebase/es/index.htm?padre=517&capsel=525">INE</a>
	</p>
	
	<p>
		Datos abiertos de la Política Agrícola Común:
		<a href="https://www.fega.es/es/datos-abiertos/consulta-de-beneficiarios-pac/descarga-de-ficheros">FEGA</a>
	</p>


</div>
{% endblock %}