{% extends 'histograma/formulario_base.html' %}

{% block resultado %}

<img src="http://0.0.0.0:8000/svg/{{ histograma_id }}">

{% if formulario.municipio|length == 1 %}
	<table>
		<tr>
			<td>Municipio</td>
			<td>{{ formulario.municipio }}</td>
		</tr>
		<tr>
			<td>Año</td>
			<td>{{ formulario.año }}</td>
		</tr>
		<tr>
			<td>Per capita</td>
			<td>{{ formulario.per_capita }}</td>
		</tr>
		<tr>
			<td>Tamaño cont.</td>
			<td>{{ formulario.tamaño_contenedor }} €</td>
		</tr>
		<tr>
			<td>Cuantil inf.</td>
			<td>{{ formulario.cuantil_inferior }} %</td>
		</tr>
		<tr>
			<td>Cuantil sup.</td>
			<td>{{ formulario.cuantil_superior }} %</td>
		</tr>
	</table>
{% elif formulario.municipio|length == 0 %}
	<p> No hay ningun municipio con ese nombre </p>
{% else %}
	<p> Se han encontrado los siguientes municipios con ese nombre:</p>
	<ul>
	{% for mun_similar in formulario.municipio %}
		<li> {{ mun_similar }} </li>
	{% endfor %}
	</ul>
{% endif %}

{% endblock %}