:root {
	--altura: 400px
}

body {
	font-family: 'IBM Plex Sans';
	background-color: black;
	color: white;
	margin: 0;
}

.contenido {
	display: grid;
	grid-template-columns: 50% 50%;
	justify-content: center;
	margin: 3%;
	padding: 4em 7em;
}


/* Formulario */
.formulario {
	grid-column: 1;
	padding-left: 1em;
	text-align: left;
}

h1 {
	font-size: xx-large;
	font-family: 'IBM Plex Mono';
	margin-bottom: 0;
}

h2 {
	color: white;
	font-size: small;
	font-style: italic;
	font-weight: normal;
	margin-top: 3px;
	margin-bottom: 30px;
}

.formulario fieldset {
	border: none;
}

.formulario select {
	font-family: 'IBM Plex Mono';
	border-radius: 3px;
	border: none;
	padding: 5px;
	background-color: white;
	color: black;
}

.formulario input {
	font-family: 'IBM Plex Mono';
	border-radius: 3px;
	border: none;
	padding: 5px;
	background-color: white;
	color: black;
}

.formulario input[type=number] {
	width: 3em;
}

.formulario input[type=number][name="tamaño_contenedor"] {
	width: 6em;
}

.formulario input[type=submit] {
	margin-top: 4%;
	background-color: antiquewhite;
	color: black;
	font-family: 'IBM Plex Mono';
}

.formulario input[type=submit]:hover {
	background-color: red;
	color: white;
}

.formulario fieldset {
	padding-left: 0;
}


/* Resultado del formulario */
.resultado {
	grid-column: 2;
	margin: 0 auto;
}

.resultado img {
	text-align: center;
	width: 100%;
	height: auto;
}

.resultado p {
	font-size: small;
	text-align: center;
	line-height: var(--altura);
}

.resultado table {
	font-size: small;
	border: 2px solid rgb(80, 80, 80);
}

td:first-child {
	font-weight: bolder;
	padding-right: 1em;
}


/* Footer */
footer {
	font-size: smaller;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(34, 34, 34);
	color: white;
	text-align: center;
}

footer div {
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: row;
	justify-content: center;
}


.footer_element {
	display: block;
	margin: 1em 1em;
}

.footer_element a {
	font-family: 'IBM Plex Mono';
	padding: 10px 20px;
	color: white;
	/* background-color: black; */
	text-decoration: underline 3px;
}

.footer_element a:hover {
	font-style: oblique;
	text-decoration: underline red 3px;
}